@import "variaveis.scss";
@import url("https://fonts.googleapis.com/css?family=Fira+Sans");

@mixin divs($background, $color) {
    background: $background;
    color: $color;
    border-radius: 50px;
    margin: 10px;
    box-shadow: 10px 5px 5px $preto;
    height: 300px;
    width: 300px;
    position: absolute;
    bottom: 50px;
}

@mixin inputs($background, $color, $radius) {
    background-color: $background;
    color: $color;
    border-radius: $radius;
    border: none;
    margin: 10px;
    display: block; 
    margin-right: auto; 
    margin-left: auto;

}

body {
    background-color: $cinza;
}

.background-div {
    @include divs($cinza-escuro, $branco);
}

.text-div {
    @include divs($cinza, $preto);
    width: 800px;
    height: 400px;
}


.botao {
    border: 0px;
    background: none;
    background-color: $verde;
    border-radius: 10px;
    display: block; 
    margin-right: auto; 
    margin-left: auto;
    width: 60px;

    &:hover {
        background-color: darken($verde, 10%);
    }
}

.input-estyle {
    @include inputs($azul, $preto, 50px)
}

.label-style {
    font-size: small;
    border: 0px;
    background: none;
    border-radius: 10px;
    display: block; 
    margin-right: auto; 
    margin-left: auto;
    width: 60px;
}

#container {
  width: 100%;
  display: inline-block;
}

nav {
  overflow: hidden;
  background-color: $cinza-escuro;
  position: fixed;
  top: 0;
  width: 100%;
  ul {
    text-align: center;
    list-style-type: none;
    list-style-type: none;
    margin: 0;
    padding: 15px;
    li {
      display: inline;
      font-family: "Fira Sans", sans-serif;
      font-size: 17px;
      a {
        color: #f2f2f2;
        text-decoration: none;
        padding: 14px;
        &:hover {
          background-color: #111;
        }
      }
    }
  }
}

.content {
  text-align: center;
  
}

.column {
  display: inline-block;
  border: 1px solid transparent;
  padding: 1rem 1rem;
  vertical-align: middle;
  margin: 300px;
  position: relative;
  right: 450px;
  top: 200px;
}

/* Clear floats after the columns */
.row:after {
  border: 1px solid black;
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
}

.footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: $cinza-escuro;
            color: white;
            text-align: center;
        }